# Byte-compiled files
__pycache__/

# Downloaded Data (~160gb)
data/**

# Build files
logs
*.zip
*.gzip
*.accdb
*.7z
*.tar.gz

# Jupyter Notebook
.ipynb_checkpoints

# Environments

.env
.venv
.vscode