# Downloaded Data (~160gb)
data/**

# Build files
logs
*.zip
*.gzip
*.accdb
*.7z
*.tar.gz

# training files
*.th
model/saved/**
*.json

# generated run artifacts
fire_fusion/analysis/plots/**
runs/**

# Compilation
__pycache__/
.ipynb_checkpoints

# Environment
**/.dodsrc
.env
.venv
.vscode